.Note{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 20%;
    margin: 0 2%;
    
}

.Link{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid blue;
    width: 100%;
}

h3{
    border-bottom: 1px solid grey;
    align-self: center;
    width: 90%;
    
}

p{

    border: 1px solid red;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
}
